.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.carousel {
  display: flex;          
  overflow: hidden;       
  width: 100%;     
  justify-content: flex-start;       
}

.item {
  min-width: 100%;     
  flex-shrink: 0;  
  transition: transform 1s ease-in-out;
  
  text-align: center;
  font-size: 30px;
  padding: 40px;
  box-sizing: border-box; 
}

.item:hover {
  background-color: #000000;
  color: #ffffff;
}

.arrow {
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  font-size: 36px;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: lightgray;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: black;
}